@import "tailwindcss";

:root {
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
